---
layout: default
---

<div class="home full-width">

  <p class="lead-description">{{ site.description }}</p>
  
  {{ content }}

  <ul class="post-list">
    {% assign sorted_posts = site.posts | sort: 'order' | reverse %}
    {% for post in sorted_posts %}
      <li class="post {{ post.categories | join: ' ' }}">
        {% if post.categories %}
          <p class="post-categories">
            {% for category in post.categories %}
              <a href="/?category={{ category }}#{{ category }}" class="post-category">{{ category }}</a>
            {% endfor %}
          </p>
        {% endif %}
        <a class="post-link" 
           href="{% if post.redirect %}{{post.link}}{% else %}{{ post.url | relative_url }}{% endif %}"
           {% if post.redirect %}target="_blank"{% endif %}>
          {% if post.photo.thumbnail %}
            <img class="featured-photo" src="/image/thumb/{{post.photo.filename}}" />
          {% endif %}
          <h2>{{ post.title | escape }}</h2>
        </a>
      </li>
    {% endfor %}
  </ul>

  <script>

    // use URL hash to show only posts in a certain category
    var category = window.location.hash.replace('#', '');
    if (category) {
      document
      .querySelectorAll(`.post-list .post:not(.${category})`)
      .forEach(post => {
        post.parentNode.removeChild(post);
      });
    }

  </script>

</div>
