---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">

    {% if page.categories %}
      <p class="post-categories">
        {% for category in page.categories %}
          <span class="post-category">{{ category }}</span>
        {% endfor %}
      </p>
    {% endif %}

    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>

    {% if page.link %}
      <p class="post-external-link">
        Source: <a href="{{ page.link }}" target="_blank">{{ page.link }}</a>
      </p>
    {% endif %}

    {% if page.photo %}
      {% if page.photo.large %}
        <figure class="featured-photo">
          <div class="full-screen image" 
               style="background-image: url(/image/{{ page.photo.filename }})">
          </div>
          <figcaption>{{ page.photo.caption }}</figcaption>
        </figure>
      {% else %}
        <figure class="featured-photo">
          <img src="/image/{{ page.photo.filename }}" />
          <figcaption>{{ page.photo.caption }}</figcaption>
        </figure>
      {% endif %}

    {% endif %}

    {% if page.authors %}
      <p class="post-authors">
        By {{ page.authors | join: ', ' }}
      </p>
    {% endif %}
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  {% if page.video %}
    <figure class="video">
      <iframe width="560" height="349" src="http://www.youtube.com/embed/{{ page.video }}?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
    </figure>
  {% endif %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
